* {
    margin: 0;
    font-family: Arial, sans-serif;
}

.html-mobile-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%; /* To compensate for mobile browser address bar space */
    background: url("images/background.jpg") no-repeat;
    background-size: 100% 100%;
}

@media (min-width: 600px) {
    html {
        background: url("images/background.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    .html-mobile-background {
        display: none;
    }
}

#navigation {
    padding: 5px;
    color: black;
    background-color: white;
    min-height: 30px;
    z-index: 101;
}

#navigation-menu, #navigation-menu-mobile {
    display: none;
}

#navigation-menu, #navigation-menu ul, #navigation-menu-mobile, #navigation-menu-mobile ul {
    list-style: none;
    padding-left: 0;
}

#navigation-overflow {
    display: block;
    width: 30px;
    height: 30px;
    background: url("images/ic-navigation-menu.png");
    right: 10px;
    position: absolute;
}

#navigation-menu a, #navigation-menu-mobile a {
    color: black;
    text-decoration: none;
}

#navigation-menu li, #navigation-menu-mobile li {
    padding: 5px;
}

#navigation-menu > li, #navigation-menu-mobile > li {
    display: block;
    background-color: white;
    z-index: 101;
}

#navigation-menu ul, #navigation-menu-mobile ul {
    background-color: white;
    padding-left: 20px;
}

#navigation-menu > li:hover, #navigation-menu-mobile > li:hover {
    background-color: #ebebeb;
}

#navigation-menu > li:hover ul, #navigation-menu-mobile > li:hover ul {
    display: block;
}

#navigation-menu > li li:hover, #navigation-menu-mobile > li li:hover {
    background-color: #ebebeb;
}

/* min-width=170*amountOfMenuItems+50 */
@media (min-width: 1410px) {

    #navigation-overflow {
        display: none;
    }

    #navigation-menu {
        display: block;
        z-index: 101;
    }

    #navigation-menu li {
        padding: 5px;
    }

    #navigation-menu > li {
        display: inline;
        float: left;
        position: relative;
        width: 150px;
        margin-right: 10px;
    }

    #navigation-menu ul {
        padding-top: 10px;
        padding-left: 0;
        display: none;
        position: relative;
    }

    #navigation-menu > li:hover {
        box-shadow: black 0 5px 10px;
        background-color: white;
    }

    #navigation-menu-mobile-container {
        display: none;
    }
}

#header {
    padding: 15px;
    background: linear-gradient(to right, rgba(95, 211, 228, 0.66), rgba(206, 255, 147, 0.66));
}

#header h1 {
    font-size: 4em;
    margin: 0;
}

#header h1 a {
    text-decoration: none;
    color: black;
}

#header-sticky {
    position: absolute;
    width: 100%;
!important;
    z-index: 100;
}

#breadcrumbs {
    color: white;
    font-weight: bold;
    box-shadow: black 0 5px 10px;
    position: absolute;
    width: 100%;
    background: #2d2d2d;
}

#breadcrumbs p {
    padding: 5px;
    margin: 0;
}

#breadcrumbs a, #bottom a {
    color: white;
}

#body {
    margin: 30px 10% 60px;
    padding: 15px;
    background-color: white;
    box-shadow: black 0 10px 20px;
}

#bottom {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 20px;
    padding: 5px;
    color: white;
    font-weight: bold;
    background: #2d2d2d url("images/tue-logo-small.png") no-repeat;
    background-position-x: right;
    background-size: contain;
}

img {
    max-width: 100%;
}

a {
    color: black;
    font-weight: bold;
}

h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

h2 {
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.table {
    overflow-x: auto;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    min-width: 49%;
}

table {
    border-collapse: collapse;
    text-align: center;
}

table thead {
    color: white;
    background-color: #2d2d2d;
}

table tbody tr {
    border-top: 1px solid #2d2d2d;
}

table#masters tbody tr td:first-child {
    border-right: 1px solid #2d2d2d;
}

a[name]:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 80px;
    margin-top: -80px;
}

@media (min-width: 1500px) {
    #col-left {
        display: inline-block;
        width: 75%;
    }

    #col-right {
        display: inline-block;
        width: 25%;
        vertical-align: top;
    }
}

#col-right {
    padding-top: 50px;
}

.related-link {
    width: 100%;
    display: inline-block;
    min-height: 50px;
    background: linear-gradient(to right, rgba(0, 0, 0, .75), rgba(0, 0, 0, .25)), url("images/related-links-background.jpg") no-repeat;
    line-height: 50px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.related-link-1 {
    background: linear-gradient(to right, rgba(0, 0, 0, .75), rgba(0, 0, 0, .25)), url("images/related-links-background.jpg") no-repeat;
!important;
    background-position: 0px 0px;
}

.related-link-2 {
    background: linear-gradient(to right, rgba(0, 0, 0, .75), rgba(0, 0, 0, .25)), url("images/related-links-background.jpg") no-repeat;
!important;
    background-position: 0px -60px;
}

.related-link-3 {
    background: linear-gradient(to right, rgba(0, 0, 0, .75), rgba(0, 0, 0, .25)), url("images/related-links-background.jpg") no-repeat;
!important;
    background-position: 0px -120px;
}

.related-link-4 {
    background: linear-gradient(to right, rgba(0, 0, 0, .75), rgba(0, 0, 0, .25)), url("images/related-links-background.jpg") no-repeat;
!important;
    background-position: 0px -180px;
}

.related-link-5 {
    background: linear-gradient(to right, rgba(0, 0, 0, .75), rgba(0, 0, 0, .25)), url("images/related-links-background.jpg") no-repeat;
!important;
    background-position: 0px -240px;
}